@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: oklch(12.39% 0.02491 243.914);
    --foreground: oklch(0.98 0 0);
    --card: oklch(0.21 0.01 260);
    --card-foreground: oklch(0.98 0 0);
    --popover: oklch(0.21 0.01 260);
    --popover-foreground: oklch(0.98 0 0);
    --primary: oklch(0.7 0.2 280);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(0.28 0.01 260);
    --secondary-foreground: oklch(0.98 0 0);
    --muted: oklch(0.28 0.01 260);
    --muted-foreground: oklch(0.72 0 0);
    --accent: oklch(0.28 0.01 260);
    --accent-foreground: oklch(0.98 0 0);
    --destructive: oklch(0.64 0.24 25);
    --destructive-foreground: oklch(0.98 0 0);
    --border: oklch(0.28 0.01 260);
    --input: oklch(0.28 0.01 260);
    --ring: oklch(0.84 0.02 260);
    --radius: 0.5rem;
  }

  * {
    @apply border-border antialiased;
  }
  html {
    @apply h-full;
  }
  body {
    @apply h-full bg-background text-foreground;
  }
}
